.blog-index-top{
    height:500px;
    margin-top: -50px;
    background-image:   url("/img/computer-pic.jpg");
    background-size: 100%;
}
.blog-index-top h1{
padding: 100px 0px 0px 300px;
    color: white;
    font-size: 3em;
}
.blog-index-top-show{
    height:250px;
    margin-top: -50px;
    background-image:   url("/img/computer-pic.jpg");
    background-size: 100%;
}
.blog-index-top-show h1{
    padding: 100px 0px 0px 300px;
    color: white;
    font-size: 3em;
}
input[type=title], select {
    width: 50%;
    font-size: 1.2em;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea[type=text], select {
    width: 50%;
    font-size: 1em;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.blog-form-group label{
    font-size: 1.5em;
}
.blog-form-1{
    margin-top: 30px;
}
button[type=submit] {
    background-color: #204d74;
    border: none;
    border-radius: 135px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
button[type=submit]:hover {
    background-color: darkorange;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.blog-error-report {
    margin-right:auto;
    margin-left:auto;
    margin-top: 20px;
    border-radius: 135px;
    width: 400px;
    display: table;
    background: rgba(255,0,0,0.4);

}
.blog-post-meta{
    color: darkgray;
}
.blog-error-report li{
    list-style-type: none;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog-content{
    margin-top: 30px;
}
.blog-post-view{
    margin: 0 auto;
    border-bottom: solid #f7f7f7;
    width: 50%;
}
.blog-content-post{
    margin-bottom: 30px;
    margin-top:10px;
}
.blog-post-title{
    margin-top:20px;
}
#blog-show-content{
    margin-left: 100px;
    margin-top: 30px;
    font-size: 1.3em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
}
#blog-show-content li{
    margin-left: 80px;
}
.blog-show-comment{
    margin-right:auto;
    margin-left:auto;
    width: 50%;
    margin-top: 30px;

}
.blog-show-comment-content article{
    border: solid #f7f7f7;
    border-radius: 20px;
    margin-top: 10px;
    height: 40px;
    margin-bottom:10px;
    vertical-align: middle;
}
.blog-show-comment-content article strong {
    float: left;
    margin-top: 10px;x
    margin-left: 20px;
}
.blog-show-comment-add{
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 100px;
    border-radius: 25px;
    text-align: center;
    background-color: lightgray;
    color: black;
    font-size: 1em;
}
.blog-show-comment-add:focus{
    outline: none;
    background-color: white;
    border-color: darkblue;
}
/*
Not css beneath here
 */
.cke_editable
{
    font-size: 13px;
    line-height: 1.6;

    /* Fix for missing scrollbars with RTL texts. (#10488) */
    word-wrap: break-word;
}

blockquote
{
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;
    padding: 2px 0;
    border-style: solid;
    border-color: #ccc;
    border-width: 0;
}

.cke_contents_ltr blockquote
{
    padding-left: 20px;
    padding-right: 8px;
    border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
    padding-left: 8px;
    padding-right: 20px;
    border-right-width: 5px;
}

a
{
    color: #0782C1;
}

hr
{
    border: 0px;
    border-top: 1px solid #ccc;
}

img.right
{
    border: 1px solid #ccc;
    float: right;
    margin-left: 15px;
    padding: 5px;
}

img.left
{
    border: 1px solid #ccc;
    float: left;
    margin-right: 15px;
    padding: 5px;
}

pre
{
    white-space: pre-wrap; /* CSS 2.1 */
    word-wrap: break-word; /* IE7 */
    -moz-tab-size: 4;
    tab-size: 4;
}

.marker
{
    background-color: Yellow;
}

figure
{
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 2px;
    background: rgba(0,0,0,0.05);
    padding: 10px;
    margin: 10px 20px;
    display: inline-block;
}

figure > figcaption
{
    text-align: center;
    display: block; /* For IE8 */
}

a > img {
    padding: 1px;
    margin: 1px;
    border: none;
    outline: 1px solid #0782C1;
}

/* Widget Styles */
.code-featured
{
    border: 5px solid red;
}

.math-featured
{
    padding: 20px;
    box-shadow: 0 0 2px rgba(200, 0, 0, 1);
    background-color: rgba(255, 0, 0, 0.05);
    margin: 10px;
}

.image-clean
{
    border: 0;
    background: none;
    padding: 0;
}

.image-clean > figcaption
{
    font-size: .9em;
    text-align: right;
}

.image-grayscale
{
    background-color: white;
    color: #666;
}

.image-grayscale img, img.image-grayscale
{
    filter: grayscale(100%);
}

.embed-240p
{
    max-width: 426px;
    max-height: 240px;
    margin:0 auto;
}

.embed-360p
{
    max-width: 640px;
    max-height: 360px;
    margin:0 auto;
}

.embed-480p
{
    max-width: 854px;
    max-height: 480px;
    margin:0 auto;
}

.embed-720p
{
    max-width: 1280px;
    max-height: 720px;
    margin:0 auto;
}

.embed-1080p
{
    max-width: 1920px;
    max-height: 1080px;
    margin:0 auto;
}