* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 2000px;
    text-align: center;
    margin-top: 50px;
}

#main {
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}

#footer {
    position: relative;
    height: 40px;
    clear: both;
    background-color: #efefef;
    text-align: center;

}

/* Opera Fix thanks to Maleika (Kohoutec) */
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;/* thank you Erik J - negate effect of float*/
}
